html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  max-width: 575px;
}

.justify-content-center {
  justify-content: center;
}

.header-container {
  font-family: 'Actor', sans-serif;
  color: #ff4b3a;
  text-align: center;
}

.header {
  font-size: 2.5em;
  margin: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.sub-header {
  font-size: 1.5rem;
  margin-top: 0;
}

.restaurant-container {
  width: 575px;
}

.restaurant-image {
  max-width: 575px;
  height: 100%;
  object-fit: cover;
}

.restaurant-name {
  color: #ff4b3a;
  font-family: 'Actor', sans-serif;
  display: flex;
  align-self: flex-end;
  width: 50%;
}
